.chat-window {
  width: 50%;
  height: 500px;
  border: 2px solid rgb(239, 238, 243);
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  background: rgb(253, 252, 252);
  font-family: Arial, sans-serif;
}

.chat-window .messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
